@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* 1st image section start */

.banner-container {
    height: 652px;
    /* border: 2px solid rgb(46, 177, 173); */
    margin-top: 50px;
    background-image: url("/images/Hero-bg.png");
}


.firstimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.banner-content h1{
    margin-top: 30px;
    font-size: 48px ;
}

.banner-content p{
    margin-top: 30px;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    margin-left: 43%;
    margin-right: 43%;
    padding: 15px;
    border-radius: 5px;
    font-size: 22px;
}

/* 1st image section done  */


/* why web development part start here  */

.secondpart{
    height: 1075px;
    margin-top: 50px;
    /* border: 2px solid red; */

}

.web{
    height: 945px;
    width: 1400px;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-left: 50px; 
     
    
}
.firstsec{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.firstsec p{
    padding: 2%;
    margin-bottom: 5%;
}



/* secondsection start */


.secondsec{
    display: flex;
}

.change21{
    height: 250px;
    width: 50%;
    /* border: 2px solid red; */
    padding-left: 28px;
    
}
.change21 h2{
    margin-top: 10px;
}

.change21 p{
    padding-top: 5%; 
    margin-bottom: 5%;
    margin-left: 20px;
    align-items: flex-start;
}
.buttonl{
    height: 40px;
}
.img22{
    width: 50%; 
    /* border: 2px solid red; */
    padding-left: 25%;
}


/* second part third sec */


.thirdsec{
    display: flex;
    height: 250px;
    /* border: 2px solid red; */
}
.img31{
    width: 50%;
    /* border: 2px solid red; */
    flex-direction: row;
    text-align: center;
}
.help32{
    padding-left: 5%;
    margin-top: 20px;
}

.help32 h2{
    margin-bottom: 3% ;
}

.help32 p{
    margin-top: 10px;
    margin-bottom: 3% ;
}

.button23{
    height: 40px;
}


/* second part fourth sec */



.fourthsec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: end;  */
}

.coding41{
    height: 250px;
    width: 50%;
    /* border: 2px solid red; */
     padding-left: 28px; /* 48 */
}

.coding41 h2{
    margin-top: 10px;
}

.coding41 p{
    padding-top: 5%; 
    margin-bottom: 5%;
    
}
.button4{
    height: 40px;
}
    
.img42{
    width: 50%; 
    /* border: 2px solid red; */
    padding-left: 25%;
    /* fgfg */
    text-align: end;
} 

/* third section start  */

.text{
    width: 1140px;
    /* height: 777px; */
    margin-top: 5%;
    margin-left: 148px;
    /* margin-right: 152px; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text h1{
    margin-top: 10px;
    margin-bottom: 2%;
}

.text p{
    margin-bottom: 5%;
}
.video{
    padding-left: 10%;
}

/* third section end  */

.target{
    height: 462px;
    width: 1140px;
    /* border: 2px solid red; */
    margin-left: 148px;
    margin-top: 5%;
}

.target h1, p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-top: 10px; */
    padding: 2%;
}
.content{
     display: flex; 
    flex-direction: row;
    justify-content: space-between; */

    /* text-align: center; */

}

.html{
    height: 284px;
    width: 350px;
    /* border: 2px solid red; */
    flex-direction: row;  
    align-items: flex-start;
    padding: 2%;
}

.html p{
    text-align: start;
    margin-bottom: 10%;
}

.html h2{
    margin-bottom: 10px;
}

.css{
    height: 284px;
    width: 350px;
    /* border: 2px solid red; */
    padding: 2%;

}

.css p{
    text-align: start;
    margin-bottom: 10%;
}

.css h2{
    margin-bottom: 10px;
}

.js{
    height: 284px;
    /* width: 219px; */
    width: 350px;
    /* border: 2px solid red; */
    padding: 2%;

}

.js p{
    text-align: start;
    margin-bottom: 10%;
}

.js h2{
    margin-bottom: 10px;
}

/* fourth section end */

/* fifth section start */

.lastone{
    margin-top: 10px;
}

.lastone { 
    height: 460px;
    width: 1144px;
    /* border: 2px solid red; */
    background-color: rgba(0,0,0,0.5);
    background-image: url(./images/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay; 
    border-radius: 15px; 
    margin-left: 10%;
    margin-top: 5%; 
}
.lastone h2,p{
     display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* margin-top: 50px; */
    
}

.lastone h2{
    padding-top: 20%;
    /* margin-top: 20px; */
    /* margin-top: -220px; */
    color: white;
}

.lastone p{
    color: white;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    max-height: 20px;
    
}
.boxin{
    height: 30px;
     width: 250px; 
     border-radius: 5px;
     
}
.sub{
    height: 30px;
     width: 70px; 
     border-radius: 5px;

}

.end{
    margin-top: 20%;
    height: 160px;
    width: 1144px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.textp p{
    color:black
}